html {
    box-sizing: border-box;
    width: 100%;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #fff;
    overflow-x: hidden;
    width: 100%;
    background-image: url("images/mobile.svg");
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: 0 60px;
}

.mob-menu {
    position: fixed;
    top: 0;
    display: flex;
    background-color: white;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
}

.hamburger {
    display: none;
    background-color: white;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    border-bottom: 2px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: space-between;
    color: #3a4a42;
}

.hamburger a {
    text-align: left;
    display: block;
    text-decoration: none;
    color: #3a4a42;
    padding: 0 28px;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 100px;
}

.close {
    margin: 20px;
}

.header-text {
    font-size: 20px;
    margin: 0 12px;
    padding: 10px 12px;
}

header img {
    margin: 0 12px;
}

.headline {
    margin-top: 48px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.headline h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 40px;
    font-weight: bold;
    line-height: 52px;
    text-align: center;
    color: #172b4d;
    margin-top: 100px;
    padding: 20px;
}

#second-h1 {
    color: #36b37e;
}

.headline p {
    padding: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #172b4d;
}

.social {
    display: flex;
    margin-top: 24px;
    justify-content: center;
    list-style: none;
}

.social i {
    padding: 10px;
    font-size: 25px !important;
    color: #172b4d;
    cursor: pointer;
}

.more-img {
    width: 40px;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 58px;
}

.recents-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recent-work {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    color: #172b4d;
    padding: 30px;
}

.under-bar {
    width: 48px;
    height: 4px;
    background: #36b37e;
    border-radius: 24px;
    margin: 24px auto;
}

.popup-buttons-desk {
    display: none;
}

.popup {
    background-color: #c1c7d0;
    padding: 16px 20px;
    height: 100%;
    z-index: 5;
}

.popup-container {
    background-color: white;
    padding: 16px;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
}

.popup-image {
    width: 100%;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.closeTab {
    position: relative;
    left: 41%;
    top: 50px;
}

.popup-title {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    margin: 12px 0px;
    text-align: left;
    color: #172b4d;
}

.popup-ul {
    display: flex;
    flex-wrap: wrap;
    margin: 12px 0px;
}

.popup-li {
    display: block;
    background-color: #ebf0ee;
    color: #3a4a42;
    margin-right: 8px;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
}

.popup-description {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-align: left;
    line-height: 24px;
    color: #344563;
    margin-top: 12px;
}

.popup-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 16px;
}

.see-live {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    background-color: #36b37f;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    border-radius: 4px;
    border: none;
    margin-right: 12px;
}

h6 {
    margin-right: 16px;
}

.popup-buttons i {
    font-size: 16px;
    color: white;
}

.works {
    margin-top: 38px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    z-index: 4;
}

.work {
    background: #ebf0ee;
    border: 1px solid #d0d9d4;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    max-width: 330px;
}

.work img {
    border-radius: 8px;
    width: 100%;
}

.work-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 8px;
    flex-grow: 1;
}

.work-description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #3a4a42;
    padding: 16px;
}

.work ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.work li {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #3a4a42;
    background: #ebf0ee;
    border-radius: 4px;
    padding: 8px 12px;
    margin: 0 4px;
    overflow: visible;
}

.work-button {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    line-height: 24px;
    justify-content: center;
    padding: 12px;
    background: #36b37f;
    border-radius: 4px;
    margin: 24px 0;
    font-style: normal;
    font-weight: 500;
    color: #fff;
}

.about-myself {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("images/about-background.svg");
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: top left;
}

.about-me {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    margin: 0 12px;
    margin-top: 35px;
    color: #172b4d;
}

.about-description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
    margin: 24px 12px;
}

.resume-button {
    border: 0;
    background: #36b37f;
    border-radius: 4px;
    padding: 12px;
    margin-top: 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
}

.frames-langs {
    margin-top: 59px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.frame {
    background: #ebf0ee;
    border: 1px solid #c1c7d0;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    max-width: 330px;
}

.frame img {
    max-width: 135px;
    height: 135px;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.frame img:hover {
    animation-name: turn;
    animation-duration: 3s;
}

@keyframes turn {
    form {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

.frame h2 {
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #344563;
}

.frame ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 24px;
    margin-bottom: 70px;
}

.frame li {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #36b37e;
    background: #fff;
    border-radius: 8px;
    padding: 12px;
    margin: 4px;
}

.onpress:active {
    background: #008552;
}

.resume-button:active,
.work-button:active {
    background: #008552;
}

.resume-button:hover,
.work-button:hover {
    animation-name: zoom;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-timing-function: ease;
}

@keyframes zoom {
    from {
        padding: 12px;
    }
    to {
        padding: 13px;
    }
}

.footer p {
    padding: 24px;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #172b4d;
    margin-bottom: 58px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("images/contact-backgroung.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
}

footer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer input {
    width: 327px;
    height: 48px;
    border: 1px solid #d0d9d4;
    border-radius: 4px;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 15px 16px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    color: #6b778c;
    margin-bottom: 24px;
}

footer textarea {
    width: 327px;
    height: 114px;
    background: #fff;
    border: 1px solid #60c095;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #091e42;
    padding: 12px;
    margin-bottom: 16px;
}

footer button {
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer i {
    color: #505f79;
}

.footer h3 a {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #42526e;
    margin-top: 59px;
    text-decoration: none;
}

.end-bar {
    margin-top: 281px;
    margin-bottom: 13px;
    width: 134px;
    background-color: black;
    border: 2.5px solid black;
    border-radius: 5px;
}

.desk-menu {
    margin-top: 16px;
    list-style: none;
    display: none;
}

.desk-menu li {
    margin: 16px;
}

.desk-menu a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #344563;
}

.hamburger a:hover {
    color: blue;
}

@media screen and (min-width: 850px) {
    .works {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 24px;
    }
    .frames-langs {
        padding: 1vw;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 24px;
    }
    .under-bar {
        display: none;
    }
}

@media screen and (min-width: 997px) {
    .mob-menu {
        display: none;
    }
    .desk-menu {
        display: flex;
        justify-content: center;
    }
    body {
        background-image: url("images/desk-head-background.svg");
        background-size: 100vw;
        background-repeat: no-repeat;
        background-position: top;
    }
    .headline {
        width: 60%;
        margin-top: 0;
        margin-left: 20%;
    }
    .recents-work {
        margin-top: 8%;
    }
    .work {
        width: 100%;
    }
    .work-description {
        width: auto;
    }
    .work img {
        width: 100%;
    }
    .work-text {
        width: 100%;
    }
    .works {
        grid-template-columns: 1fr 1fr 1fr;
        width: 70%;
        align-items: center;
        justify-items: center;
    }
    .header-buttons {
        display: flex;
        justify-content: space-between;
    }
    .popup {
        padding: 7% 10%;
    }
    .popup-buttons-desk {
        display: flex;
    }
    .closeTab {
        background-color: #EBECF0;
        border-radius: 8px;
        top: 0px;
        left: 48%;
    }
    .popup-buttons {
        display: none;
    }
    .about-me {
        margin-top: 80px;
    }
    .about-description {
        margin: 0 250px;
        justify-content: center;
    }
    .under-bar {
        display: none;
    }
    .frames-langs {
        grid-template-columns: 1fr 1fr 1fr;
        width: 70%;
        align-items: center;
        justify-items: center;
        padding: 0;
    }
    .frame {
        width: 100%;
        max-height: 352px;
    }
    .frame ul {
        height: 40px;
    }
    .recent-work {
        width: 100%;
    }
    .form-div {
        width: 70%;
        display: flex;
        margin-top: 135px;
    }
    .footer p {
        font-size: 30px;
        text-align: center;
        margin-right: 27px;
        padding: 0;
        width: 100%;
        margin-top: 50px;
        line-height: 52px;
    }
    .form-div input {
        width: 100%;
    }
    footer {
        background-image: url("images/contact-desk-back-1.svg"), url("images/contact-desk-back-2.svg"), url("images/contact-desk-back-3.svg");
        background-repeat: no-repeat;
        background-position: left;
    }
    .footer form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .footer textarea {
        width: 100%;
    }
    .footer form button {
        align-self: flex-start;
    }
    .end-bar {
        display: none;
    }
    footer h3 {
        display: none;
    }
    footer .social {
        margin-top: 253px;
    }
    .about-myself {
        background-image: url("images/about-desk-2-background.svg"), url("images/about-desk-background.svg");
        background-repeat: no-repeat, no-repeat;
        background-position: left 23%, right -5%;
        background-size: auto, auto;
        margin-top: 112px;
    }
    .footer {
        background-image: url("images/contact-desk-back-1.svg"), url("images/contact-desk-back-2.svg"), url("images/contact-desk-back-3.svg");
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: left 80%, 22% 75%, right 71%;
        background-size: auto, auto;
    }
    .footer ul {
        width: 100vw;
        border-top: 1px solid #dfe1e6;
        padding: 26px;
    }
}