body {
  background-image: none;
}

#container {
  background-image: url("./images/capt.png");
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: darken;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item1 {
  font-family: "Inter", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
  margin-right: 180px;
  transition: font-size 1s, font-weight 1s;
}

.nav-item1:hover {
  font-size: 23px;
  font-weight: 650;
}

.menu {
  width: 40px;
  height: 40px;
  color: #28352f;
}

.container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.box3 {
  display: flex;
  justify-content: center;
}

img {
  width: 17.99px;
  height: 20px;
  margin-right: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin-top: 90px;
  padding: 5px;
}

.box1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 327px;
  height: 192px;
  font-family: "Inter", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin: 58px 0;
  margin-top: -20px;
}

.box2 {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 164px;
  text-align: center;
  font-family: "Inter", Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
}

span {
  color: #36b37f;
}

ul {
  list-style: none;
}

button {
  background-color: white;
  border: none;
  margin-left: 30px;
  margin-top: 30px;
}

.btn {
  width: 40px;
  height: 40px;
}

.My-Works {
  justify-content: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 24px;
}

#proje1 {
  grid-row: 1 / 2;
}

#projet2 {
  grid-row: 2 / 3;
}

#projet3 {
  grid-row: 3 / 4;
}

#projet4 {
  grid-row: 4 / 5;
}

#projet5 {
  grid-row: 5 / 6;
}

#projet6 {
  grid-row: 6 / 7;
}

.project {
  display: flex;
  flex-direction: column;
  border: 2px solid #ebf0ee;
  border-radius: 8px;
  height: 400px;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.empty-space {
  width: 100%;
  height: 300px;
  background-color: #ebf0ee;
}

h2 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
  text-align: center;
}

.languages {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
}

.lang {
  display: flex;
  margin-right: 10px;
  background: #ebf0ee;
  border-radius: 4px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
  letter-spacing: 0.03em;
  padding: 8px 12px 8px 12px;
}

.text {
  background-color: white;
}

.b {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.03em;
  width: 130px;
  height: 48px;
  padding: 12px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  background-color: #36b37f;
  border-radius: 4px;
  color: #fff;
  margin: auto;
  margin-bottom: 20px;
  transition: background-color 1s, color 1s, border 1s;
}

.b:hover {
  background-color: #fff;
  color: #36b37f;
  border: 2px solid #36b37f;
}

.work {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.line {
  width: 48px;
  height: 4px;
  margin-bottom: 20px;
}

.about-me {
  display: grid;
  gap: 24px;
  justify-content: center;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  text-decoration: none;
}

.resume {
  position: static;
  width: 159px;
  height: 48px;
  left: 96px;
  top: 285px;
  background: #36b37f;
  border-radius: 4px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  margin-left: 10px;
  margin-bottom: 70px;
  transition: background-color 1s, color 1s, border 1s;
}

.resume:hover {
  background-color: #fff;
  color: #36b37f;
  border: 2px solid #36b37f;
}

.cont {
  display: none;
}

.land {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}

.language {
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 350px;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 8px 12px;
  flex-wrap: wrap;
  gap: 10px;
}

.lan {
  display: flex;
  margin-right: 5px;
  background-color: #fff;
  border-radius: 4px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #36b37e;
  letter-spacing: 0.03em;
  padding: 8px 12px 8px 12px;
}

#first {
  background-image: url("./images/icon2.png");
  background-repeat: no-repeat;
  background-position: top center;
}

#second {
  background-image: url("./images/icon3.png");
  background-repeat: no-repeat;
  background-position: top center;
}

#third {
  background-image: url("./images/icon1.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.titre {
  position: static;
  width: 337px;
  height: 32px;
  left: -5px;
  top: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
  margin-top: 20px;
}

button:active {
  background-color: #008552;
  border: 1px solid #008552;
}

.abm {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #172b4d;
}

.paragraph {
  width: 351px;
  height: 189px;
  left: 0;
  top: 72px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-image: url("./images/contact-form-vector.svg");
  background-repeat: no-repeat;
  background-position: 100% 95%;
}

.contact-form form {
  margin: 41px 16px;
}

.contact {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.contact-list,
.text {
  width: 100%;
}

.contact-input,
.textarea {
  width: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
  padding: 18px 9px;
}

.contact-paragraph {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #172b4d;
}

.textarea {
  border-color: #60c095;
}

.textarea::placeholder {
  color: #091e42;
}

.my-email-address {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #42526e;
  margin-top: 20px;
}

@media screen and (min-width: 600px) {
  #container {
    background-size: 100%;
  }

  .My-Works {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 40px;
  }

  .languages {
    justify-content: center;
  }
}

@media screen and (min-width: 992px) {
  body {
    background-image: url("./images/background.png");
    background-blend-mode: darken;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  #container {
    background-image: none;
  }

  .container {
    display: none;
  }

  .cont {
    display: flex;
    align-items: center;
  }

  .nav-item1 {
    margin: 17px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    padding: 5px;
  }

  .box1 {
    font-size: 30px;
    width: 100%;
    margin: 0;
    height: 130px;
  }

  .work-section {
    margin-top: 180px;
  }

  .work {
    font-size: 30px;
  }

  .line {
    display: none;
  }

  .title {
    flex-direction: row;
  }

  .My-Works {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    margin: auto;
  }

  .box2 {
    width: 600px;
    height: 80px;
  }

  .box3 {
    height: 10px;
  }

  .land {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .language {
    height: 265px;
    width: 30%;
  }

  .lang {
    padding: 4px;
  }

  .resume {
    margin-bottom: 0;
  }

  .project {
    width: 30%;
  }

  .paragraph {
    width: 73%;
    margin: 0;
    height: 85px;
  }

  div {
    position: relative;
  }

  .desktop {
    display: flex;
    align-items: center;
  }

  form {
    width: 100%;
  }

  .contact-form {
    background-image: none;
  }

  .contact-paragraph {
    font-size: 25px;
    line-height: 52px;
    width: 90%;
    margin-top: -60px;
  }

  .contact-input,
  .textarea {
    padding: 5px;
    width: 100%;
  }

  .my-email-address {
    display: none;
  }
}

@media screen and (min-width: 1100px) {
  body {
    background-image: url("./images/background.png");
    background-blend-mode: darken;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  #container {
    background-image: none;
  }

  .container {
    display: none;
  }

  .cont {
    display: flex;
    align-items: center;
  }

  .nav-item1 {
    margin: 17px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    padding: 5px;
  }

  .box1 {
    font-size: 30px;
    width: 100%;
    margin: 0;
    height: 130px;
  }

  .work-section {
    margin-top: 300px;
  }

  .work {
    font-size: 30px;
  }

  .line {
    display: none;
  }

  .title {
    flex-direction: row;
  }

  .My-Works {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    margin: auto;
  }

  .box2 {
    width: 600px;
    height: 80px;
  }

  .box3 {
    height: 10px;
  }

  .about-me {
    gap: 50px;
  }

  .land {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .language {
    height: 265px;
    width: 30%;
  }

  .lang {
    padding: 4px;
  }

  .project {
    width: 30%;
  }

  .paragraph {
    width: 73%;
    margin: 0;
    height: 85px;
  }

  div {
    position: relative;
  }

  .desktop {
    display: flex;
    align-items: center;
  }

  form {
    width: 100%;
  }

  .contact-form {
    background-image: none;
  }

  .contact-form form {
    margin: 32px 29px;
  }

  .contact-paragraph {
    font-size: 25px;
    line-height: 52px;
    width: 100%;
    margin-top: -60px;
  }

  .contact-input,
  .textarea {
    padding: 5px;
    width: 100%;
  }

  .my-email-address {
    display: none;
  }

  .contact-form-icons {
    margin-top: 150px;
  }
}

@media screen and (min-width: 1300px) {
  body {
    background-image: url("./images/background.png");
    background-blend-mode: darken;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  #container {
    background-image: none;
  }

  .container {
    display: none;
  }

  .cont {
    display: flex;
    align-items: center;
  }

  .nav-item1 {
    margin: 17px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    padding: 5px;
  }

  .box1 {
    font-size: 30px;
    width: 100%;
    margin: 0;
    height: 150px;
  }

  .work-section {
    margin-top: 450px;
  }

  .work {
    font-size: 30px;
    margin-bottom: 100px;
  }

  .line {
    display: none;
  }

  .title {
    flex-direction: row;
  }

  .My-Works {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    margin: auto;
  }

  .box2 {
    width: 700px;
    margin-bottom: 50px;
  }

  .box3 {
    margin-bottom: 100px;
    height: 10px;
  }

  .land {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .language {
    height: 265px;
    width: 30%;
  }

  .lang {
    padding: 4px;
  }

  .resume {
    margin-bottom: 50px;
  }

  .project {
    width: 30%;
  }

  .about-me {
    margin-top: 80px;
  }

  .paragraph {
    width: 65%;
    margin-bottom: 20px;
    height: 85px;
  }

  div {
    position: relative;
  }

  .desktop {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 70px;
  }

  form {
    width: 100%;
  }

  .contact-form {
    background-image: none;
  }

  .contact-paragraph {
    font-size: 25px;
    line-height: 52px;
    width: 60%;
    margin-top: -60px;
  }

  .contact-input,
  .textarea {
    padding: 5px;
    width: 100%;
  }

  .my-email-address {
    display: none;
  }

  .contact-form-icons {
    margin-top: 250px;
  }
}
