body {
  background-image: url("images/capt.png");
  background-repeat: no-repeat;
  background-position: center;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.nav-item2 {
  margin: 0 20px 0 20px;
}

.box4 {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin-top: 90px;
  padding: 5px;
}

.box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 10%;
  font-family: 'Inter', Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
}

.box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 30%;
}

p {
  text-align: center;
  font-family: 'Inter', Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #172b4d;
  margin-top: -15px;
}

span {
  color: rgb(47, 212, 157);
}

img {
  width: 15px;
  height: 17px;
  margin-right: 20px;
}

ul {
  list-style: none;
}

button {
  background-color: white;
  border: none;
  margin-left: 30px;
  margin-top: 30px;
}

.btn {
  width: 30px;
  height: 30px;
}
